@require "../defines.styl"
@require "../input-common.styl"

#mainContainer
  display flex
  flex-direction column
  height 100%

  align-items center

.hfill
  width 100%

#headContainer
  box-sizing border-box
  padding 5px
  background var(--surface-background)
  border-bottom m-border-size solid var(--surface-active)

  width 100%
  height 40px
  display flex
  flex-direction row
  justify-content space-between

  .headLeft,
  .headCenter,
  .headRight
    display flex
    flex-direction row
    flex 1
    height 100%

  .headCenter
    justify-content center

  .headRight
    justify-content end

  .headCenter > .editProject
    display flex
    flex-direction row
    align-items center
    user-select none

    padding 0px 10px

    background var(--surface-active)
    transition color .1s ease-in-out

    &:hover
      background var(--on-surface-active)

    &:focus
      background var(--on-surface-focus)

    div
      pointer-events none

    span
      pointer-events none
      margin-left 10px
      font-size 16px

  .headRight > button
    display flex
    align-items center
    justify-content center

    padding 3px
    margin 0px 5px

    color var(--primary-text)

  input
    margin-left 5px

  label, input
    display flex
    align-items center
    border-radius 0px

#editContainer
  display flex
  align-items start
  justify-content center
  flex-direction row
  height calc(100% - 40px)

  width 100vw
  max-width 150ch

#sideContainer
  background #0000
  border-right 0px solid var(--surface-active)
  height 100%

  flex 1

  display flex
  flex-direction column
  align-items start

  overflow-x auto

#paramContainer
  background var(--surface-background-alt)
  border-left 0px solid var(--surface-active)

  flex 1

  height 100%

  overflow-y scroll
  overflow-x clip

#sequencerContainer
  display flex
  flex-direction column
  height 100%

  min-height 100%
  justify-content stretch

ui-sequencer,
ui-arpeggiator
  display flex
  flex-direction column
  align-items center
  background var(--surface-background)

  min-height 0
  max-height auto

ui-sequencer
  flex 1

ui-arpeggiator
  flex-basis max-content
