@require "../defines.styl"
@require "../input-common.styl"

:host
  display flex
  height 100%

  flex-direction column

#effectControls
  display flex

  box-sizing border-box
  flex-direction column
  justify-content center
  align-items center
  margin 10px

.knobSet
  display flex
  margin-bottom 10px
  align-items center

  width 100%
  max-width 600px
  box-sizing border-box

  flex-direction column
  border m-border-size solid var(--surface-active)
  border-radius 5px
  padding 0px
  background-color var(--surface-background)

  box-shadow 0px 0px 10px var(--shadow-color)

  & > label
    width 100%
    color var(--primary-text)
    text-align center
    padding 5px 0px

.knobContainer
  display flex
  flex-direction row
  width 100%
  justify-content space-evenly

  .selectContainer, ui-knob
    width 100%

.selectContainer
  display flex
  justify-content center
  align-items center

  flex-direction column

  .selectLabel
    margin-top 2px
    user-select none
    font-weight 500

    text-align center
