@require "../defines.styl"
@require "../input-common.styl"

:host
  position relative

#trackTabs
  display flex
  flex-direction row
  width 100%
  margin-bottom 10px
  justify-content space-around

  .trig
    border-color var(--note-color)

  .active
    background var(--surface-active)
    color var(--primary-text)
    border-color var(--primary-color)

    &.trig
      border-color var(--primary-color)

  .solo
    font-weight 800
    color var(--solo-color)

  .mute
    font-weight 800
    color var(--mute-color)

.trackTab
  background var(--surface-background)
  height 100%
  padding 5px 25px
  width 100%
  display flex
  align-items center
  justify-content center
  border-bottom 1px var(--surface-active) solid

  transition all .1s ease-in-out
  cursor pointer
  user-select none

#stepsContainer
  display flex
  flex-direction row
  justify-content center
  align-items center

#sequenceGridContainer
  flex 1
  display flex
  align-items start
  overflow-y hidden
  margin 10px 0px

#algorithmSelect
  width 100%
  max-width 40ch
  margin-top 5px
  margin-right 5px

#knobContainer
  display flex
  flex-direction row
  justify-content center
  align-items start

  width 100%
  min-height 120px

  ui-knob
    width 100%
    max-width 15ch
    margin 0px 15px

#progress
  width 100%
  height 1px
  background-color var(--surface-background-alt)

  div
    transition width .1s linear
    background-color var(--primary-color)
    height 1px
