@require "../defines.styl"

:host
  flex 1

  display grid
  grid-template-columns repeat(4, notebox-size)
  justify-content center
  max-height 100%

  margin 0px notebox-gap
  gap notebox-gap + 3px

.noteBox
  width notebox-size
  height notebox-size
  background-color var(--surface-active)
  border-radius 2px
  border 1px solid var(--surface-active)
  transition all .1s linear

  &.active
    background-color var(--note-color)
    border-color var(--note-color)
    //box-shadow 0px 0px 10px rgba(67, 160, 71, 0.5)

  &.marker
    border-color var(--primary-text)
