@require "../defines.styl"
@require "../input-common.styl"

#dialogContent
  width 80vw
  height 80vh

  margin 20px

  display flex
  flex-direction row

  max-width 1200px
  max-height 800px

#leftpanel
  flex 1
  max-width 220px
  display flex
  flex-direction column

  h1
    font-size 64px
    font-weight 600
    margin-top 20px
    margin-bottom 0

  #version
    font-size 32px
    font-weight 300

    margin-bottom 20px

  #description
    font-size 16px

#mainpanel
  flex 3

  display flex
  flex-direction column

  #filePickerContainer
    margin-top 10px
    height 100%

  #themeSelectContainer,
  #projectActions,
  #lowerActions
    width 100%
    display flex
    justify-content end
    align-items center

    button
      margin-left 10px

    select
      margin-left 10px

#blipicon
  display grid
  grid-template-columns repeat(3, 48px)
  justify-content start
  max-height 100%

  gap 16px

a
  text-decoration none
  color unset

button
  margin-top 10px
  padding 5px 10px

  span
    margin-right 10px

#leftbuttons
  margin-top auto

.blipBox
  width 48px
  height 48px
  background-color var(--surface-active)
  border-radius 2px
  border 1px solid var(--surface-active)
  transition all .1s linear

  &.active
    background-color var(--note-color)
    border-color var(--note-color)
    //box-shadow 0px 0px 10px rgba(67, 160, 71, 0.5)

  &.marker
    border-color var(--primary-text)

.file
  display flex
  flex-direction row
  justify-content start
  align-items center

  padding 20px
  background-color var(--surface-active)
  border-radius 20px

  width 100%
  margin-bottom 10px

  font-size 14px
  transition all .2s ease-in-out

  &:hover
    cursor pointer
    background-color var(--on-surface-active)

  div
    margin-right 20px

  .fileActions
    display flex
    flex-direction row
    align-items center

    button
      margin-top 0

      span
        margin 0

  .fileName
    font-weight 800

  .fileAuthor
    font-weight 600

  .fileDateTime
    flex 1
    text-align right
    font-weight 800
