@require "defines.styl"
@require "input-common.styl"

:host
  position relative

#algorithmSelect
  width 100%
  max-width 40ch
  margin-top 5px
  margin-right 5px

#controlsContainer
  display flex
  flex-direction row
  justify-content center
  align-items start

  width 100%

  ui-knob
    width 100%
    max-width 15ch
    margin 0px 15px

hr
  width 80%

#viewTitle
  width 80px

#noteIndicatorContainer
  margin 10px
  width 80%
  height 50px

  display flex
  flex-direction row
  align-items center
  justify-content space-around

  border 1px solid var(--on-surface-active)

  .indicator
    flex 1
    background var(--surface-active)
    //border-left 2px solid var(--surface-background)
    height 100%

    transition background .2s ease-in-out

  .indicator.active
    background var(--primary-color)

  .indicator.root
    border 1px solid var(--note-color)

#octaveIndicatorContainer
  margin 10px
  margin-bottom 0px
  width 80%
  height 20px

  display flex
  flex-direction row
  align-items center

  .indicator
    background var(--surface-active)
    border-left 2px solid var(--surface-background)
    height 100%
    flex 1

    border-radius 0px

  .indicator:last-child
    border-right 2px solid var(--surface-background)

#knobContainer
  display flex
  flex-direction row
  justify-content center
  align-items start

  width 100%
  min-height 120px

  ui-knob
    width 100%
    max-width 15ch
    margin 0px 15px
