
@font-face
  font-family Gohu
  src url("/assets/GohuFontuni14NerdFontPropo-Regular.ttf") format("truetype")

m-font = "Gohu"
m-font-size = 14px
m-border-radius = 0px

m-border-size = 1px
note-active-color = #aaa
