
@font-face
  font-family Gohu
  src url("/assets/GohuFontuni14NerdFontPropo-Regular.ttf") format("truetype")

primary-color = #0062BC

m-font = "IBM Plex Mono"
m-font-size = 13px
m-border-radius = 15px

m-border-size = 1px
note-active-color = #aaa

m-background-color = #111111
m-background-color-alt = #0a0a0a

notebox-size = 32px
notebox-gap = 12px
