@require "defines.styl"

button
  appearance none
  font-family default-font
  font-size m-font-size
  border none
  background #fff1
  border-radius m-border-radius

  color #fff
  transition all .1s ease-in-out

  font-family m-font
  display flex
  align-items center

  &:hover
    background #fff2

input[type="range"]
  appearance none
  background #444
  height 70%

  &::-webkit-slider-thumb
    -webkit-appearance none
    appearance none
    background #222
    border none

  &::-moz-range-thumb
    background #222
    border none
    border-radius 0px
    height 100%
    width 5px

input[type="number"], input[type="text"]
  -moz-appearance textfield
  appearance textfield

  border none
  background #fff1
  color #fff
  padding 6px 10px
  border-radius m-border-radius

  text-align center
  font-family m-font
  font-size m-font-size

  margin-right 5px

select
  font-family m-font
  font-size m-font-size

  height 30px
  background #222
  border none
  color #fff
  border-radius 20px
  padding 2px 10px
