@require "defines.styl"

.dropdown
  margin 0
  background var(--surface-active)

  display flex
  flex-direction column
  min-width 200px

  .droplabel
    margin-left 10px
    margin-right 5px

    display flex
    flex-direction row
    align-items center
    justify-content space-between

    min-height 100%

    z-index 0

  .dropmenu
    z-index 999
    transition all .2s ease-in-out

    width 0%
    opacity 0
    visibility hidden

    padding 0px 0px
    margin 0
    position relative
    background var(--surface-active)
    box-shadow 10px 10px 10px var(--shadow-color-alt)

    button
      padding 10px
      transition background .2s ease-in-out
      white-space nowrap

      background var(--surface-active)
      cursor pointer

      width 100%
      border none
      border-radius 0px

      display flex
      flex-direction row
      justify-content start
      align-items center

      span
        margin-right 10px

    button:hover
      background var(--on-surface-active)

    button:focus
      background var(--on-surface-focus)

  &:hover > .dropmenu,
  &:focus-within > .dropmenu
    opacity 1
    width 100%
    visibility visible

  &:hover > .droplabel span,
  &:focus-within > .droplabel span
    transform rotate(180deg)

button
  appearance none
  font-family default-font
  font-size m-font-size
  border none
  background var(--surface-active)
  border-radius m-border-radius

  color var(--primary-text)
  transition all .1s ease-in-out

  font-family m-font
  display flex
  align-items center

  &.active
    background var(--on-surface-active)

  &.active:hover
    background var(--on-surface-focus)

  &:hover
    background var(--on-surface-active)

input[type="range"]
  appearance none
  background var(--on-surface-focus)
  height 70%

  &::-webkit-slider-thumb
    -webkit-appearance none
    appearance none
    background var(--surface-active)
    border none

  &::-moz-range-thumb
    background var(--surface-active)
    border none
    border-radius 0px
    height 100%
    width 5px

input[type="number"], input[type="text"]
  -moz-appearance textfield
  appearance textfield

  border none
  background var(--surface-active)
  color var(--primary-text)
  padding 6px 10px
  border-radius m-border-radius

  text-align center
  font-family m-font
  font-size m-font-size

  margin-right 5px

select
  font-family m-font
  font-size m-font-size

  height 30px
  background var(--surface-active)
  border none
  color var(--primary-text)
  border-radius 20px
  padding 2px 10px

#viewTitle
  transition all .2s ease-in-out

  user-select none

  width 100%

  display flex
  flex-direction row
  justify-content center
  align-items center
  margin 0
  margin-top 1px
  padding 10px 0px

  color var(--note-color)
  background linear-gradient(var(--surface-background-alt), #0000)

  //border-bottom 1px solid var(--on-surface-active)

  span
    pointer-events none

  .text
    opacity 1

  .material-icons
    margin-right 20px
    //margin-left 10px

#viewTabs
  display flex
  flex-direction row
  width 100%
  margin-bottom 10px
  justify-content space-around

  top 0
  position sticky

  height 40px
  z-index 99

  .tab
    background var(--surface-background)

    flex 1
    display flex
    align-items center
    justify-content center
    border-bottom 1px var(--surface-active) solid

    transition all .1s ease-in-out
    cursor pointer
    user-select none

    span
      margin-right 5px
      color var(--on-surface-focus)

  .active
    background var(--surface-active)
    color var(--primary-text)
    border-color var(--primary-color)
