@require "defines.styl"
@require "input-common.styl"

body
  background-color #212121
  margin 0
  font-family m-font
  font-size m-font-size

  height 100vh

  color #fff

button
  appearance none
  font-family default-font
  font-size m-font-size
  border none
  background #fff1
  border-radius m-border-radius

  color #fff
  transition all .1s ease-in-out

  font-family m-font
  display flex
  align-items center

  &:hover
    background #fff2

#mainContainer
  display flex
  flex-direction column
  height 100%

.hfill
  width 100%

#headContainer
  padding 5px
  background #111
  border-bottom m-border-size solid #222

  display flex
  flex-direction row
  align-items center

  button
    display flex
    align-items center
    justify-content center
    height 100%
    padding 0px 0px
    margin 0px 5px

    color #ffff

  input
    margin-left 5px

  label, input
    display flex
    align-items center
    border-radius 0px

#trackTabs
  display flex
  flex-direction row

  :first-child
    background #222
    color #fff
    border-color #fff

.trackTab
  background #111
  height 100%
  padding 5px 25px
  display flex
  align-items center
  border-bottom 1px #222 solid

#editContainer
  display flex
  align-items start
  justify-content center
  flex-direction row
  background-color #000
  height calc(100% - 36px)

#sideContainer
  background #0000
  border-right 0px solid #222
  height 100%

  flex 1

  display flex
  flex-direction column
  align-items start

#paramContainer
  background #aaa0
  border-left 0px solid #222

  flex 1

  max-height 100%
  overflow-y scroll
  overflow-x clip

#loadControls
  display flex
  flex-direction row
  align-items center
  justify-content space-between
  margin-right 2ch
  margin-top 1ch

  #patchUpload button
    align-self start

#patchControls
  display grid

  grid-template-columns repeat(auto-fill, 180px)

  flex-direction column
  justify-content right

  label
    color #aaa

ui-sequencer
  height 100%
  overflow auto

.knobSet
  display flex
  margin 10px
  align-items center
  width 150px

  flex-direction column
  border m-border-size solid #222
  border-radius 0px
  padding 5px
  background-color #111

  select, ui-knob
    margin 0px 5px
