@require "defines.styl"
@require "input-common.styl"

body
  background-color #000
  margin 0
  font-family m-font
  font-size m-font-size

  height 100vh

  color #fff

#mainContainer
  display flex
  flex-direction column
  height 100%

  align-items center

.hfill
  width 100%

#headContainer
  box-sizing border-box
  padding 5px
  background #111
  border-bottom m-border-size solid #222

  width 100%
  height 40px
  display flex
  flex-direction row
  align-items center

  button
    display flex
    align-items center
    justify-content center

    padding 3px
    margin 0px 5px

    color #ffff

  input
    margin-left 5px

  label, input
    display flex
    align-items center
    border-radius 0px

#trackTabs
  display flex
  flex-direction row

  :first-child
    background #222
    color #fff
    border-color #fff

.trackTab
  background #111
  height 100%
  padding 5px 25px
  display flex
  align-items center
  border-bottom 1px #222 solid

#editContainer
  display flex
  align-items start
  justify-content center
  flex-direction row
  background-color #000
  height calc(100% - 40px)

  width 80vw
  max-width 150ch

#sideContainer
  background #0000
  border-right 0px solid #222
  height 100%

  flex 1

  display flex
  flex-direction column
  align-items start

  overflow-x auto

#paramContainer
  background m-background-color-alt
  border-left 0px solid #222

  flex 1

  height 100%

  overflow-y scroll
  overflow-x clip

#loadControls
  display flex
  flex-direction row
  align-items center
  justify-content end
  padding-right 2ch
  padding-top 1ch

  #patchUpload button
    align-self start
    margin-right 10px

#patchControls
  display grid

  grid-template-columns repeat(auto-fill, 180px)

  flex-direction column
  justify-content right

  label
    color #aaa

ui-sequencer
  height 100%
  display flex
  flex-direction column

  background m-background-color

  flex 1

.knobSet
  display flex
  margin 10px
  align-items center
  width 150px

  flex-direction column
  border m-border-size solid #222
  border-radius 0px
  padding 5px
  background-color #111

  select, ui-knob
    margin 0px 5px
