@require "defines.styl"
@require "input-common.styl"

#sequenceGridContainer
  flex 1
  display flex
  align-items center
  overflow-y hidden
  margin 10px 0px

#sequenceGrid
  flex 1

  display grid
  grid-template-columns repeat(4, 52px)
  //grid-template-rows repeat(16, 50px)
  justify-content center
  height 100%

.noteBox
  width 32px
  height 32px
  background-color #222
  border-radius m-border-radius
  margin 8px 10px
  border 1px solid rgb(66, 66, 66)
  transition all .1s linear

  &.active
    background-color note-active-color
    border-color note-active-color
    //box-shadow 0px 0px 10px rgba(67, 160, 71, 0.5)

  &.marker
    border-color #fff

#stepsContainer, #algorithmSelect
  margin-left 10px

#algorithmSelect
  width 100px
  margin-top 5px
  margin-right 5px
